@model IEnumerable<ManuShopWeb.Models.Marca>

@{
    ViewData["Title"] = "Index";
    String email = ViewData["EMAIL"].ToString();
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-email="email" class="btn btn-outline-dark">Crear nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.id, email = email }, new {@class="btn btn-outline-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
